{% extends "base.html" %}

{% block page_head %}

<nav>
    <div class="nav-wrapper amber darken-1">
        <a href="" class="brand-logo center">{{ page.title }}</a>
    </div>
</nav>

{% endblock page_head %}


{% block page_content %}

<h4 class="center">Scegli il giorno da prenotare!</h4>

<div class="row">
    <div class='col s1 m1 l1'></div>
    <div class="col s5 m5 l5">
        <ul class='collection'>
            {% for hour in page.startingHour %}
            <li id="{{ loop.index|string + 'start' }}" class='collection-item avatar user-content'">
                <i class=" large material-icons circle amber darken-1">today</i>
                <span class="title">{{ hour.name }} {{ hour.startTime }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col s5 m5 l5">
        <ul class='collection'>
            {% for hour in page.endingHour %}
            <li id="{{ loop.index|string + 'end' }}" class='collection-item avatar user-content'>
                <i class="large material-icons circle amber darken-1">today</i>
                <span class="title">{{ hour.name }}</span>
                <span class="title">{{ hour.startTime }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>


</div>


<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    var currentSelection = 0;

    var startingHour = 0;
    var n = document.getElementsByTagName("li").length + 1;

    changeActiveStatus();

    socket.on('next', function (data) {
        console.log("next");
        day = day % (n - 1) + 1;
        changeActiveStatus();
    });

    socket.on('changePage', function (data) {
        if (currentSelection == 0) {
            currentSelection += 1
        } else {
            socket.emit("hourSelected", { 'startingHour': 1, 'endingHour': 2 })
            window.location.replace("/type");
        }

    });

    socket.on('refresh', function (data) {
        window.location.reload(1);
    });

    function changeActiveStatus() {
        // console.log(document.getElementById(String(1)))
        for (let i = 1; i < n; i++) {
            if (i == day) {
                document.getElementById(String(i)).classList.add('active');
            } else {
                document.getElementById(String(i)).classList.remove('active');
            }
        }
    }
</script>

{% endblock page_content %}