{% extends "base.html" %}

{% block page_head %}

<nav>
    <div class="nav-wrapper amber darken-1">
        <a href="" class="brand-logo center">{{ page.title }}</a>
    </div>
</nav>

{% endblock page_head %}


{% block page_content %}

<h4 class="center">Scegli il giorno da prenotare!</h4>

<div class="row">
    <div class='col s1 m1 l1'></div>
    <div class="col s5 m5 l5">
        <table class="striped centered responsive-table">
            <!-- <thead>
                <tr>
                    <th>Ora</th>
                    <th>Inizio ora</th>
                    <th>Fine ora</th>
                </tr>
            </thead> -->
            <h4 class="center">Ora di inizio</h4>
            <tbody>
                {% for hour in page.startingHour %}
                <tr id="{{ loop.index|string + 'start' }}" class="">
                    <td>{{ hour.name }}
                    <td>{{ hour.startTime }} - {{ hour.endTime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class=" col s5 m5 l5">
        <table class="striped centered responsive-table">
            <!-- <thead>
                <tr>
                    <th>Ora</th>
                    <th>Inizio ora</th>
                    <th>Fine ora</th>
                </tr>
            </thead> -->
            <h4 class="center">Ora di fine</h4>
            <tbody>
                {% for hour in page.endingHour %}
                <tr id="{{ loop.index|string + 'end' }}" class="">
                    <td>{{ hour.name }}</td>
                    <td>{{ hour.startTime }} - {{ hour.endTime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>


<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    var startLine = 1;
    var currentSelection = startLine;
    var currentTable = 0;
    var n = 10;
    changeActiveStatus();

    socket.on('next', function (data) {
        currentSelection = currentSelection % (n) + 1;
        if (currentSelection < startLine) {
            currentSelection = startLine;
        }
        changeActiveStatus();
    });

    socket.on('changePage', function (data) {
        if (currentTable == 0) {
            currentTable += 1;
            startLine = currentSelection;
            changeActiveStatus();
        } else {
            socket.emit("hourSelected", {
                'startingHour': startLine,
                'endingHour': currentSelection
            })
            window.location.replace("/type");
        }
    });

    socket.on('refresh', function (data) {
        window.location.reload(1);
    });

    function changeActiveStatus() {
        // console.log(document.getElementById(String(1)))
        suffix = (currentTable == 0) ? 'start' : 'end'
        for (let i = startLine; i <= n; i++) {
            if (currentSelection == i) {
                document.getElementById(String(i) + suffix).classList.add('selection');
            } else {
                document.getElementById(String(i) + suffix).classList.remove('selection');
            }
        }
    }
</script>

{% endblock page_content %}