{% extends "base.html" %}

{% block page_head %}

<nav>
    <div class="nav-wrapper amber darken-1">
        <a href="" class="brand-logo center">{{ page.title }}</a>
    </div>
</nav>

{% endblock page_head %}


{% block page_content %}

<h4 class="center">Scegli il tipo di aula da prenotare!</h4>

<div class="row">
    <div class='col s3 m3 l3'></div>
    <div class="col s6 m6 l6">
        <ul class='collection'>
            {% for type in page.types %}
            <li id="{{ loop.index }}" class='collection-item avatar user-content valign-wrapper'>
                <i class="large material-icons circle amber darken-1">today</i>
                <span class="title">{{ type.name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    var type = 1;
    var types = { 1: "A", 2: "L" }
    var n = document.getElementsByTagName("li").length + 1;

    changeActiveStatus();

    socket.on('next', function (data) {
        console.log("next");
        type = type % (n - 1) + 1;
        changeActiveStatus();
    });

    socket.on('changePage', function (data) {
        socket.emit("typeSelected", {
            "type": types[type]
        });
        window.location.replace("/confirmation");
    });

    socket.on('refresh', function (data) {
        window.location.reload(1);
    });

    function changeActiveStatus() {
        for (let i = 1; i < n; i++) {
            if (i == type) {
                document.getElementById(String(i)).classList.add('selection');
            } else {
                document.getElementById(String(i)).classList.remove('selection');
            }
        }
    }
</script>

{% endblock page_content %}