@import url("https://fonts.googleapis.com/css?family=Muli:400,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  line-height: 50px;
  /* outline: solid 0.25rem rgba(255, 0, 0, 0.5); */
}

h1,
h2 {
  text-align: center;
}

.user-content {
  font-size: 30px;
}

td {
  padding: 0;
  line-height: 6vh;
}

table.striped>tbody>tr:nth-child(odd) {
  background-color: rgba(220, 220, 220, 0.514);
}

.selection {
  background-color: #ffe082 !important;
}